{% spaceless %}
{% if footer_title or footer_description or footer_contact %}
	{% if social_network %}
		{% set col_information, col_extra, col_account, col_social_network = 's6 m6','s6 m6', 's6 m6', 's6 m6' %}
	{% else %}
		{% set col_information, col_extra, col_account = 's12 m6', 's12 m6', 's12 m6' %}
	{% endif %}
{% else %}
	{% if social_network %}
		{% set col_information, col_extra, col_account, col_social_network = 's6 m4 l3','s6 m4 l3', 's6 m4 l3', 's6 m4 l3' %}
	{% else %}
		{% set col_information, col_extra, col_account = 's6 m4','s6 m4', 's6 m4' %}
	{% endif %}
{% endif %}
<footer class="page-footer {{ color_footer }} {{ color_footer_text }}">
	<div class="container-fluid">
		<div class="row">
			{% if footer_title or footer_description or footer_contact %} <!-- Open footer info -->
			<div class="col s12 m6 l6 {{ color_footer_text }}">
				{% if footer_title %}<h5 class="text-bold">{{ footer_title }}</h5>{% endif %}
				{% if footer_description %}<p>{{ footer_description }}</p>{% endif %}
				{% if footer_contact %}
				<ul class="collection footer-info">
					<li class="collection-item">
						<address><i class="material-icons left">location_on</i>{{ address }}</address>
					</li>
					<li class="collection-item">
						<a class="href-underline inherit-text" href="tel:{{ telephone|replace({"(": "", ")" : "", " " : ""})}}"><i class="material-icons left">phone</i>{{ telephone }}</a>
					</li>
					<li class="collection-item">
						<a href="mailto:{{ email }}" class="inherit-text"><i class="material-icons left">email</i>{{ email }}</a>
					</li>
					{% if open %}
					<li class="collection-item">
						<span><i class="material-icons left">access_time</i>{{ open }}</span>
					</li>
					{% endif %}
				</ul>
				{% endif %}

				<!-- Yandex.Metrika informer -->
				<a href="https://metrika.yandex.ru/stat/?id=51732809&amp;from=informer"
				   target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/51732809/1_1_FFFFFFFF_EFEFEFFF_0_pageviews"
													   style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" class="ym-advanced-informer" data-cid="51732809" data-lang="ru" /></a>
				<!-- /Yandex.Metrika informer -->

				<!-- Yandex.Metrika counter -->
				<script type="text/javascript" >
					(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
						m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
					(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

					ym(51732809, "init", {
						id:51732809,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true,
						webvisor:true
					});
				</script>
				<noscript><div><img src="https://mc.yandex.ru/watch/51732809" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
				<!-- /Yandex.Metrika counter -->

			</div>
			<div class="col s12 m5 l5 offset-l1">
				<div class="row">
				{% endif %} <!-- ./ end footer info -->
					{% if informations %}
					<section class="col {{ col_information }}">
						<h5 class="text-bold">{{ text_information }}</h5>
						<ul>
							{% for information in informations %}
							<li><a class="{{ color_footer_text }}" href="{{ information.href }}">{{ information.title }}</a></li>
							{% endfor %}
							<li><a class="{{ color_footer_text }}" href="/sitemap">{{ text_sitemap }}</a></li>
							<li><a class="{{ color_footer_text }}" href="{{ contact }}">{{ text_contact }}</a></li>
						</ul>
					</section>
					{% endif %}
					<section class="col {{ col_extra }} hidden">
						<h5 class="text-bold">{{ text_extra }}</h5>
						<ul>
							<li><a class="{{ color_footer_text }}" href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
							<li><a class="{{ color_footer_text }}" href="{{ voucher }}">{{ text_voucher }}</a></li>
							<li><a class="{{ color_footer_text }}" href="{{ affiliate }}">{{ text_affiliate }}</a></li>
							<li><a class="{{ color_footer_text }}" href="{{ special }}">{{ text_special }}</a></li>
						</ul>
					</section>
				{% if footer_title or footer_description or footer_contact %} <!-- Open footer info -->
				{% endif %} <!-- ./ end footer info -->
					<section class="col {{ col_account }}">
						<h5 class="text-bold">{{ text_account }}</h5>
						<ul>
							<li><a class="{{ color_footer_text }}" href="{{ account }}" rel="nofollow">{{ text_account }}</a></li>
							<li><a class="{{ color_footer_text }}" href="{{ order }}" rel="nofollow">{{ text_order }}</a></li>
							<li><a class="{{ color_footer_text }}" href="{{ wishlist }}" rel="nofollow">{{ text_wishlist }}</a></li>
							<li><a class="{{ color_footer_text }}" href="{{ newsletter }}" rel="nofollow">{{ text_newsletter }}</a></li>
						</ul>
					</section>
					{% if social_network %}
					<section class="col {{ col_social_network }}">
						{% if social_icons %}
						<ul class="footer-sn">
							{% for social_icon in social_icons %}
							<li class="footer-sn__item">
								<a class="{{ color_footer_text }}" href="{{ social_icon.link }}" title="{{ social_icon.title }}" target="_blank" rel="noopener{{ no_index }}">
									<img class="width-max waves-effect waves-light lazyload" src="{{ img_loader }}" data-src="{{ social_icon.icon }}" alt="{{ social_icon.title }}">
								</a>
							</li>
							{% endfor %}
						</ul>
						{% endif %}
					</section>
					{% endif %}
				{% if footer_title or footer_description or footer_contact %} <!-- Open footer info -->
				</div>
			</div>
			{% endif %} <!-- ./ end footer info -->
		</div>
	</div>
</footer>
	</div>
	</div>

<button type="button" id="back-to-top" class="btn-floating btn-large scale-transition scale-out z-depth-4 waves-effect waves-light {{ color_btt }}"><i class="material-icons {{ color_btt_text }}">keyboard_arrow_up</i></button>
<script defer src="catalog/view/theme/materialize/js/script.js"></script>
</body></html>
{% endspaceless %}