
<ul class="collection with-header megamenu" data-collapsible="accordion">
	<li class="collection-header blue-grey white-text"><h5 class="text-bold">{{ heading_title }}</h5></li>
	{% for category in categories %}
	{% if category.category_id == category_id %}
	<li class="active">
	{% else %}
	<li>
	{% endif %}

		<a href="{{ category.href }}" class="waves-effect truncate blue-grey-text text-darken-4 text-bold" data-target='d{{ category.category_id }}'>{{ category.name }}</a>

		{% if category.children %}
			<ul id='d{{ category.category_id }}' class='megamenu-cat'>
			{% for child in category.children %}

                <li>
                    {% if child.category_id == child_id %}
                        <a class="waves-effect child truncate lighten-4 second" href="{{ child.href }}">{{ child.name }}</a>
                    {% else %}
                        <a class="waves-effect child truncate second" href="{{ child.href }}">{{ child.name }}</a>
                    {% endif %}
                </li>

                {% if child.children %}
                    {% for ch in child.children %}
                        {% if ch.category_id == child_id %}
                            <li><a class="waves-effect child truncate lighten-4 third" href="{{ ch.href }}">{{ ch.name }}</a></li>
                        {% else %}
                            <li><a class="waves-effect child truncate third" href="{{ ch.href }}">{{ ch.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}

			{% endfor %}
			</ul>
	{% endif %}
	</li>
	{% endfor %}
</ul>